$header-background: #F2F3F4;
$header-text: black;
$purple: #AB61E5;

.app-header {
    background-color: $header-background;
    color: $header-text;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 72px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;   

    a {
        color: $header-text;
    }

    h1 {
        margin: 0 60px 0 120px;
        font-size: 24px;
    }
}

.app-header__nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.app-header__nav__item {
    margin: 0 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-weight: 500;

    &.active::after {
        content: ' ';
        background-color: $purple;
        height: 3px;
        position: absolute;
        bottom: 0;
        left: 8px;
        right: 8px;
    }
}