@import "_header.scss";

.ant-list-item:hover {
  background-color: rgba(213, 176, 242, 0.1);
}

.uppercase-text {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.15em;
  color: #59636E;
}

.multiple-choice__answer {
  padding: 18px 30px;
  background-color: #F2F3F4;
  border-radius: 3px;
  margin: 10px 0;

  &.active {
    background-color: #59636E;
    color: white;
  }
}

.rating-items {
  display: flex;
  height: 72px;

  &.read-only {
    .rating-item {
      cursor: default;
    }
  }

  .rating-item {
    flex: 1;
    margin-right: 4px;
    background-color: #F2F3F4;
    cursor: pointer;

    &.active {
      background-color: #7F0FD7;
    }
  }
}

.user-list-item .ant-list-item-meta {
  align-items: center;
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #1DDEBB 0%, rgba(29, 222, 187, 0) 100%);
  overflow: hidden;

  .circle2 {
    position: absolute;
    width: 2000px;
    height: 2000px;
    left: -86.27px;
    top: 114.65px;

    background: linear-gradient(180deg, #D5B0F2 0%, rgba(213, 176, 242, 0) 100%);
    mix-blend-mode: multiply;
    border-radius: 1000px;
    z-index: -1;
  }

  .circle1 {
    position: absolute;
    width: 3087.03px;
    height: 3087.3px;
    left: -1381.4px;
    top: -1429px;
    
    background: linear-gradient(180deg, #1DDEBB 0%, rgba(29, 222, 187, 0) 100%);
    mix-blend-mode: multiply;
    border-radius: 1000px;
    z-index: -1;
  }

  .circle3 {
    position: absolute;
    width: 3808.52px;
    height: 3808.85px;
    left: -2576px;
    top: -748.85px;

    background: linear-gradient(180deg, #D5B0F2 0%, rgba(213, 176, 242, 0) 100%);
    mix-blend-mode: multiply;
    border-radius: 1900px;
    z-index: -1;
  }
}

.login-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.login-card {
  padding: 64px 16px;
  background-color: #FFFFFF;
  width: 380px;
  height: 382px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.view-feedback {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: calc(100vh - 150px);

  .container {
      max-width: 1100px;
      width: 1100px;
  }

  .list-wrapper {
      display: flex;
      padding-bottom: 20px;
  }

  .questionnaire-list .ant-list-item.active {
      background-color: #F2F3F4;
  }
}

.share-feedback {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  
  .container {
      max-width: 780px;
      width: 780px;
  }
}

.share-feedback__header {
  display: flex;
  justify-content: space-between;
}

.period-selector {
  width: 340px;
  display: flex;
  flex-direction: column;

  label {
      font-size: 12px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-weight: 500;
      color: #59636E;
  }
}